<!DOCTYPE html>
{% macro action_button(id, name, display) %}
    <button type="submit" name='action' value="{{ name }}"
            formaction="{{ url_for('kuyruk_manager.action', id=id) }}"
            >{{ display }}</button>
{% endmacro -%}
{% macro action_button_all(type, name, display) %}
    <button type="submit" name='action' value="{{ name }}"
            formaction="{{ url_for('kuyruk_manager.action_all', type=type) }}"
            >{{ display }}</button>
{% endmacro -%}
<html>
<head>
    <title>Kuyruk Manager</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ url_for('static', filename='favicon.ico') }}"/>
    <style type="text/css">
        table {border-collapse: collapse; }
        table, th, td {border: 1px solid black; }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('kuyruk_manager.workers') }}">Workers</a>
        {% if has_requeue %}
            | <a href="{{ url_for('kuyruk_manager.failed_tasks') }}">Failed Tasks</a>
        {% endif %}
    </nav>
    <br>
    {% block body %}
    {% endblock %}
    <br>
    <footer>
        <hr>
        {{ now }} - Kuyruk Manager is running on host: {{ hostname }}
    </footer>
</body>
</html>
